<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="img/icons8-salmon-sushi-50.png" />
    <!-- Title-->
    <title> @ViewData["Title"]</title>
    <link href="css/style.css" rel="stylesheet" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="gradeCalculator">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
</body>
</html>
